{
	"trailingComma": "es5",
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"quoteProps": "consistent",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 100,
	"tabWidth": 4
}
